#region-auspiciadores.container.seccion

  .region
    .region-title
      %h1= page_title!('auspiciadores')

    - if current_admin
      .admin-control
        = link_to 'Crear Auspiciador', new_auspiciador_path, class: 'btn btn-primary'

    - @auspiciadores.each do |auspiciador|
      .auspicios-container.region
        .region-imagen
          = link_to image_tag(auspiciador.imagen_url(:thumb), class: 'img-responsive'), auspiciador.link
        .region-titulo
          %h3.titulos
            = auspiciador.nombre
      .clear
      .auspicios-descripcion
        = auspiciador.descripcion

      - if current_admin
        = link_to 'Editar', edit_auspiciador_path(auspiciador), class: 'btn btn-success'
        = link_to 'Eliminar', auspiciador, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
