#region-requisitos.container

  .region
    .region-title
      %h1= page_title!('Requisitos Para Canes')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Requisito', new_requisito_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Pais
            %th Contenido
            %th
            %th

          - @requisitos.each do |requisito|
            %tr
              %td= requisito.pais
              %td= requisito.contenido
              - if current_admin
                %td= link_to 'Editar', edit_requisito_path(requisito), class: 'btn btn-success'
                %td= link_to 'Eliminar', requisito, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
