#region-usuario.container.seccion
  .region
    .region-title
      %h1= page_title!('Modificar mis datos')

  .region
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { method: :put, class: 'form-horizontal' }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :nombre, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :nombre, class: 'form-control'
      .form-group
        = f.label :apellido, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :apellido, class: 'form-control'
      .form-group
        = f.label :telefono, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :telefono, class: 'form-control'
      .form-group
        = f.label :direccion, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :direccion, class: 'form-control'
      .form-group
        = f.label :ciudad, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :ciudad, class: 'form-control'
      .form-group
        = f.label :pais, class: 'col-sm-2 control-label'
        .col-sm-10
          = country_select("usuario", "pais")
      .form-group
        = f.label :email, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.email_field :email, :autofocus => true, class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .form-group
        = f.label :password, 'Contrase単a', class: 'col-sm-2 control-label'
        %i (dejalo en blanco sino quieres cambiar la contrase単a)
        .col-sm-10
          = f.password_field :password, :autocomplete => "off", class: 'form-control'
      .form-group
        = f.label :password_confirmation, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.password_field :password_confirmation, class: 'form-control'
      .form-group
        = f.label :current_password, 'Contrase単a Actual', class: 'col-sm-2 control-label'
        %i (necesitamos tu contrase単a para poder realizar los cambios)
        .col-sm-10
          = f.password_field :current_password, class: 'form-control'
      %div= f.submit "Guardar", class: 'btn btn-default'

#region-usuario.container.seccion
  .region
    .region-title
      %h1 Cancelar mi cuenta

  .region
    = button_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "Estas Seguro?" }, :method => :delete, class: 'btn btn-danger'
