#region-usuario.container.seccion

  .region
    .region-title
      %h1= page_title!('Registrar datos del propietario')
  .region
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { class: 'form-horizontal'}) do |f|
      = devise_error_messages!
      .form-group
        = f.label :nombre, 'Nombre', class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :nombre, class: 'form-control'
      .form-group
        = f.label :apellido, 'Apellido', class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :apellido, class: 'form-control'
      .form-group
        = f.label :direccion, 'Dirección', class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :direccion, class: 'form-control'
      .form-group
        = f.label :telefono, 'Teléfono', class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :telefono, class: 'form-control'
      .form-group
        = f.label :pais, 'País', class: 'col-sm-2 control-label'
        .col-sm-10
          = country_select("usuario", "pais")
      .form-group
        = f.label :ciudad, 'Ciudad', class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :ciudad, class: 'form-control'
      .form-group
        = f.label :email, 'Email', class: 'col-sm-2 control-label'
        .col-sm-10
          = f.email_field :email, :autofocus => true, class: 'form-control'
      .form-group
        = f.label :password, "Contraseña", class: 'col-sm-2 control-label'
        .col-sm-10
          = f.password_field :password, class: 'form-control'
      .form-group
        = f.label :password_confirmation, "Confirmar Contraseña", class: 'col-sm-2 control-label'
        .col-sm-10
          = f.password_field :password_confirmation, class: 'form-control'

      .admin-controls
        %div= f.submit "Registrarse", class: 'btn btn-default'
  = render "usuarios/shared/links"
