.region-datos
  .region-info-title
    .region-pais
      %p.pais
        = dupla.usuario.pais
      %p.compartir
        = link_to 'https://www.facebook.com/sharer/sharer.php?u=' + request.original_url, target: '_blank' do
          COMPARTIR
          =image_tag image_path 'facebook-gray.png'

  .region-imagen
    = image_tag dupla.fotografia_url(:regular)
  .region-informacion
    %ul.dupla
      -#%li.datos= dupla.usuario_id
      %li.titulo-dato NOMBRE:
      %li.datos= dupla.nombre
      %li.titulo-dato PA&Iacute;S:
      %li.datos= dupla.pais
      %li.titulo-dato RAZA:
      %li.datos= dupla.raza
      %li.titulo-dato PRUEBA:
      %li.datos= dupla.prueba
      %li.titulo-dato PROPIETARIO:
      %li.datos= dupla.usuario.nombre + ' ' + dupla.usuario.apellido
      %li.titulo-dato FECHA NACIMIENTO:
      %li.datos= dupla.fecha_nacimiento
      %li.titulo-dato REGISTRO GENEALOGICO:
      %li.datos= dupla.registro_genealogico
      %li.titulo-dato COLOR:
      %li.datos= dupla.color
      %li.titulo-dato SEXO:
      %li.datos= dupla.sexo
      %li.titulo-dato CATEGORIA:
      %li.datos= dupla.categoria
      %li.titulo-dato GRADO:
      %li.datos= dupla.grado
      %li.titulo-dato TATUAJE/MICROCHIP:
      %li.datos= dupla.tatuaje_microchip


      - if params[:usuario_id]
        = link_to 'Editar', edit_dupla_path(dupla), class: 'btn btn-success'
        = link_to 'Eliminar', dupla, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
