%ul.dupla
  %li= dupla.usuario_id
  %li= dupla.nombre
  %li= dupla.pais
  %li= dupla.registro_genealogico
  %li= dupla.raza
  %li= dupla.color
  %li= dupla.sexo
  %li= dupla.categoria
  %li= dupla.grado
  %li= dupla.tatuaje_microchip
  %li= dupla.prueba
  %li= image_tag dupla.fotografia_url(:thumb)
  %li= dupla.fecha_nacimiento
- if current_admin
  = link_to 'Editar', edit_dupla_path(dupla), class: 'btn btn-success'
  = link_to 'Eliminar', dupla, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
