#region-duplas.container.seccion

  .region
    .region-title
      %h1= page_title!('duplas')

    .region
      - if current_usuario
        .admin-control
          = link_to 'Inscribir una Nueva Dupla', new_dupla_path, class: 'btn btn-primary'
    - if current_admin
      .region
        .descarga
          =# link_to "CSV", duplas_path(format: "csv"), class: 'btn btn-warning'
          = link_to "Descargar Todas las duplas en Excel", duplas_path(format: "xls"), class: 'btn btn-warning'

    .region-inner.sidebar.region-title
      - unless params[:usuario_id]
        %h2.title Paises
        - @tags.each do |tag|
          = link_to tag.name, tag_path(tag.name), class: 'btn btn-warning'
        = link_to "Todos", duplas_path, class: 'btn btn-warning'

  .region
    #duplas
      .region
        %ul.duplas-list
          = render @duplas
  = paginate @duplas
