#region-contactos.container.seccion

  .region
    .region-title
      %h1= page_title!('contactos')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Contacto', new_contacto_path, class: 'btn btn-primary'

    - @contactos.each do |contacto|
      %h3.titulos
        = contacto.titulo
      .descripcion
        = contacto.contenido
      %br
      .contactos
        = mail_to contacto.email 
        %br
        = link_to contacto.website
      - if current_admin
        = link_to 'Editar', edit_contacto_path(contacto), class: 'btn btn-success'
        = link_to 'Eliminar', contacto, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
