#noticia
  %ul.top-nav
    - if @noticia.siguiente_noticia
      %li
        = link_to '>', @noticia.siguiente_noticia, remote: true
    - if @noticia.noticia_anterior
      %li
        = link_to '<', @noticia.noticia_anterior, remote: true
  %h2.title.ajax-title= @noticia.titulo

  %p
    = raw(@noticia.contenido)
  %br
  .social-share
    %b.pull-left
      COMPARTIR EN:
    = link_to content_tag(:i, '', class: 'icon facebook_3'), 'https://www.facebook.com/sharer/sharer.php?u=' + request.original_url, target: '_blank'
    = link_to content_tag(:i, '', class: 'icon linkedin_3'), 'http://www.linkedin.com/shareArticle?mini=true&amp;url=' + request.original_url + '&amp;title=MCIF&amp;summary=MCIF', target: '_blank'

