#region-visas.container.seccion

  .region
    .region-title
      %h1= page_title!('visas')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Visa', new_visa_path, class: 'btn btn-primary'


      - @visas.each do |visa|
        %h3.titulos
          = visa.titulo
        .descripcion
          = image_tag visa.imagen_url(:thumb)
        - if current_admin
          = link_to 'Editar', edit_visa_path(visa), class: 'btn btn-success'
          = link_to 'Eliminar', visa, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
