#region-visas.container
  .region
    .region-title
      %h1= page_title!('visa')

  .region
    %p
      %b Titulo:
      = @visa.titulo
    %p
      %b Imagen:
      = @visa.imagen

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_visa_path(@visa), class: 'btn btn-success'
    = link_to 'Regresar', visas_path, class: 'btn btn-warning'
