#carousel-generic.carousel.slide

  %ol.carousel-indicators
    - @slides.each_with_index do |slide, index|
      - if index == 0
        %li.active{:'data-target' => '#carousel-generic', :'data-slide-to' => index}
      - else
    %li{:'data-target' => '#carousel-generic', :'data-slide-to' => 0}
    %li{:'data-target' => '#carousel-generic', :'data-slide-to' => 1}
    %li{:'data-target' => '#carousel-generic', :'data-slide-to' => 2}
  .carousel-inner
    - @slides.each_with_index do |slide, index|
      - if index == 0
        .item.active
          = image_tag slide.imagen_url(:full)
          .carousel-caption
            %p= slide.titulo
      - else
        .item
          = image_tag slide.imagen_url(:full)
          .carousel-caption
            %p= slide.titulo

    = link_to content_tag(:span, '', class: 'icon-prev'), '#carousel-generic', :'data-slide' => 'prev'
    = link_to content_tag(:span, '', class: 'icon-next'), '#carousel-generic', :'data-slide' => 'next'
