.container-slider
  = render 'bootstrap3_carousel'

#region-Inicio.container
  .region.line
    .region-texto
      %h1 
        PER&Uacute; LES DA LA 
        %span
          BIENVENIDA,
      %p  
        El Kennel Club Peruano tiene el honor de organizar el XIV Campeonato de Agility de las Americas y el Caribe de la FCI, a llevarse a cabo del 3 al 6 de Abril del 2014.
        %br
        %br
        El lugar será el complejo Deportivo de la Costa Verde en el Circuito de Playas de Magdalena del Mar, Lima. Perú.
    .region-horas
      %h2
        FALTAN:
      .region
        .horas
          %span.numero
            24
          %br
          %span.texto
            d&iacute;as
        .horas
          %span.numero
            30
          %br
          %span.texto
            horas
        .horas
          %span.numero
            50
          %br
          %span.texto
            minutos
  
  .region.line.inscripcion
    .region-inscripcion
      .inscrip-info
        .sub-title
          %p
            FORMULARIO DE INSCRIPCION
        .sub-img
          = image_tag '/assets/img-inscripcion.jpg', class: 'img-info'
      .inscrip-info
        .sub-title
          %p
            LISTA DE CONTACTOS
        .sub-img
          = link_to (image_tag '/assets/img-contacto.jpg', class: 'img-info'), contactos_path
    .region-libre

  .region
    .region-info
      =image_tag '/assets/img-ubicacion.jpg', :class => 'img-responsive'
      .info
        %h4.titulo
          UBICACI&Oacute;N DEL EVENTO
        %p
          El Complejo Deportivo cuenta con 5 canchas de futbol adyacentes con superficie de gras artificial. Se utilizara la cancha del medio para instalar la pista de 
    .region-info
      = link_to image_tag(@noticia.foto_url(:thumb)), @noticia if @noticia
      .info
        %h4.titulo
          &Uacute;LTIMAS NOTICIAS
        %p
          = truncate(@noticia.contenido, length: 200) if @noticia
    .region-info
      =image_tag '/assets/img-ubicacion.jpg', class: 'img-responsive'
      .info
        %h4.titulo
          SE&Ntilde;AL EN VIVO
        %p
          Podrá ver en vivo la inaguracion, compenetancias y premiaciones del Campeonato Mundial de Agility de la FCI 2014
#region-auspicio
  .container-auspicio
    .container
      %h1
        CONOCE A NUESTROS 
        %span
          AUSPICIADORES
    .region-slider
      = render 'auspiciadores_carousel'


