- content_for :javascript do
  = javascript_include_tag 'fecha.js'

- page_title!('Inicio')

.container-slider
  = render 'bootstrap3_carousel'

#region-Inicio.container
  .region.line
    .region-texto
      %h1
        PER&Uacute; LES DA LA
        %span
          BIENVENIDA,
      %p
        El Kennel Club Peruano tiene el honor de organizar el XIV Campeonato de Agility de las Americas y el Caribe de la FCI, a llevarse a cabo del 3 al 6 de Abril del 2014.
        %br
        %br
        El lugar será el Estadio Municipal de La Molina, Lima - Per&uacute;

    .region-horas
      %h2
        FALTAN:
      #countdown
        %p.days
          00
        %p.timeRefDays
          days
        %span.hours
          00
        %p.timeRefHours
          hours
        %span.minutes
          00
        %p.timeRefMinutes
          minutes
        %span.seconds
          00
        %p.timeRefSeconds
          seconds

  .region.line.inscripcion
    .region-inscripcion
      = link_to new_dupla_path do
        .inscrip-info
          .sub-title
            %p
              FORMULARIO DE INSCRIPCION
          .sub-img
            = image_tag(image_path('img-inscripcion.jpg'), class: 'img-info')
      .inscrip-info
        .sub-title
          %p
            = mail_to 'info@agilityperu2014.com'
        .sub-img
          = image_tag(image_path('img-contacto.jpg'), class: 'img-info')
    .region-libre

  .region
    = link_to(ubicacion_path) do
      .region-info
        = image_tag @ubicacion.imagen1_url(:thumb), :class => 'img-responsive' if @ubicacion
        .info
          %h4.titulo
            %span UBICACI&Oacute;N
            = image_tag (image_path('icon-ubicacion.png')), class: 'icon'
          .clear
          %p.info-descrip
            = @ubicacion.lugar if @ubicacion
          %p
            = @ubicacion.direccion if @ubicacion
          %p
            = raw(@ubicacion.descripcion) if @ubicacion
    = link_to(jueces_path) do
      .region-info
        = image_tag @juez.foto_url(:thumb), :class => 'img-responsive' if @juez
        .info
          %h4.titulo
            %span JUECES
            = image_tag (image_path('icon-jueces.png')), class: 'icon'
          .clear
          %p.info-descrip
            Conoce al jurado de alto nivel para tan importante competencia
    = link_to(noticias_path) do
      .region-info
        - if @noticia.first.foto_url
          = image_tag @noticia.first.foto_url(:thumb), :class => 'img-responsive'
        - else
          = image_tag(image_path('default-img.jpg'), class: 'image-responsive') 
        .info
          %h4.titulo
            %span NOTICIAS
            = image_tag (image_path('icon-noticias.png')), class: 'icon'
          .clear
          %p.info-descrip
            = raw @noticia.first.contenido.truncate(150)
    =link_to(streamings_path) do
      .region-info
        = image_tag(image_path('default-img.jpg'), class: 'image-responsive') 
        .info
          %h4.titulo
            %span SE&Ntilde;AL EN VIVO
            = image_tag (image_path('icon-transmision.png')), class: 'icon'
          .clear
          %p.info-descrip
            Podrá ver en vivo la inaguracion, compenetancias y premiaciones del Campeonato Mundial de Agility de la FCI 2014
    =link_to('#') do
      .region-info
        .info
          %h4.titulo
            %span RESULTADOS
            = image_tag (image_path('icon-resultados.png')), class: 'icon'
          .clear
          %p.info-descrip
            Podrá ver los resultados a tiempo real de las competencias y premiaciones del Campeonato Mundial de Agility de la FCI 2014
    =link_to ('#') do
      .region-info
        .info
          %h4.titulo
            %span PISTAS
            = image_tag (image_path('icon-pistas.png')), class: 'icon'
          .clear
          %p.info-descrip
            Al finalizar cada día podrá ver las pistas en las que se compitieron






#region-auspicio
  .container-auspicio
    .container
      %h1
        CONOCE A NUESTROS
        %span
          AUSPICIADORES
    .region-slider
      = render 'auspiciadores_carousel'


