= tinymce_assets
= tinymce
= form_for @reglamento, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @reglamento.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reglamento.errors.count, "error")}"
      %ul
        - @reglamento.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :titulo, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :titulo, class: 'form-control'
  .form-group
    = f.label :contenido, class: 'tinymce', :rows => 15, :cols => 30
    .col-sm-10
      = f.text_area :contenido, class: 'form-control'
  .actions
    = f.submit 'Guardar', class: 'btn btn-default'
