- content_for :javascript do
  = javascript_include_tag 'ubicacion.js.coffee'
  = google_maps_api

#region-ubicacion.container.seccion
  .region
    .region-title
      %h1= page_title!('Ubicación')

  .region
    - if current_admin
      = link_to 'Editar ubicacion', ubicacion_editar_ubicacion_path, class: 'btn btn-success'

.map-wrapper
  = render 'mapa'

#region-direccion.container.seccion
  .region
    %h3.titulos
      = image_tag image_path ('img-ubicacion.png')
      = @ubicacion.lugar

    %p
      = @ubicacion.direccion
    %p
      = @ubicacion.descripcion

    = image_tag @ubicacion.imagen1_url(:thumb) if @ubicacion.imagen1
    = image_tag @ubicacion.imagen2_url(:thumb) if @ubicacion.imagen2
    = image_tag @ubicacion.imagen3_url(:thumb) if @ubicacion.imagen3
