#region-streamings.container.seccion

  .region
    .region-title
      %h1= page_title!('Señal en Vivo')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Señal en Vivo', new_streaming_path, class: 'btn btn-primary'

    %h3.titulos
      Codigo Embed
    - @streamings.each do |streaming|
      = link_to streaming.codigo_embed
      %br
      - if current_admin
        = link_to 'Editar', edit_streaming_path(streaming), class: 'btn btn-success'
        = link_to 'Eliminar', streaming, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
