= form_for @mensaje, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @mensaje.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mensaje.errors.count, "error")}"
      %ul
        - @mensaje.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :nombre, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :nombre, class: 'form-control'
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :télefono, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :telefono, class: 'form-control'
  .form-group
    = f.label :mensaje, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :mensaje, class: 'form-control text-area'
  .actions
    = f.submit 'Enviar', class: 'btn btn-default'
