#region-transportes.container.seccion

  .region
    .region-title
      %h1= page_title!('transportes')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Transporte', new_transporte_path, class: 'btn btn-primary'


      - @transportes.each do |transporte|
        %h3.titulos
          = transporte.nombre
        .descripcion
          = transporte.descripcion
        .datos
          = mail_to transporte.email
          %br
          = link_to transporte.website
        - if current_admin
          = link_to 'Editar', edit_transporte_path(transporte), class: 'btn btn-success'
          = link_to 'Eliminar', transporte, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
