.region-footer-info
  .container
    .social
      .region-footer-contacto
        = image_tag image_path('mail.png')
        %a info@agilityperu2014.com
      .region-footer-contacto.region-offset
        = image_tag image_path('camara.png')
        %a Melissa Thereliz

    .info
      .region-facebook
        %p.region-texto
          Puedes encontrarnos en :
        = link_to ('http://facebook.com/agilityperu2014'), target: '_blank'  do 
          .inner-facebook.region-texto
            = image_tag image_path('facebook.png')
            %p.fb
              &#47;agilityperu2014
      .region-facebook.region-facebook-2
        %h2
          %b
            Te gust&oacute;?
        %p
          Dale me gusta y comparte:
        .facebook
          == <div class="fb-like" data-href="http://agilityperu2014.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

.footer
  .container
    %p.footer-1
      Agility Perú Todos los derechos reservados 2014
    %p.footer-2 Kennel Club Peruano
    %p.footer-3
      Mariscal Miller N°2649, Lince
    %p.footer-4
      441-1367 / 441-1247 / 441-1207

= render 'layouts/facebook'
