%ul.nav.nav-pills.navbar-right
  - if current_admin
    %li= link_to 'Cerrar sesión de Administrador', destroy_admin_session_path, method: :delete
    %li= link_to 'Administrar Usuarios', usuarios_path
  - else
    - if current_usuario
      %li.link
        = link_to 'Cerrar Sesión', destroy_usuario_session_path, :id => 'sign_out', :method => :delete
      %li.link
        = link_to usuario_duplas_path(current_usuario.id) do
          Mis Duplas
          %span.badge
            = current_usuario.duplas.count
      %li.link
        = link_to 'Editar Mis Datos', edit_usuario_registration_path
    - else
      %li.link.first
        = link_to 'Regístrate', new_usuario_registration_path
      %li.link
        = link_to 'Ingresa', new_usuario_session_path
