.navigation
  .container
    .navbar-header
    .collapse.navbar-collapse
      - if current_admin
        %ul.nav.navbar-nav
          %li= link_to 'INICIO', root_path, class: 'active'
          %li= link_to 'SLIDES', slides_path
          %li.dropdown
            %a{:href => "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}} COMPETENCIA
            %ul.dropdown-menu
              %li
                %a.drop-content
                  = link_to 'AUSPICIADORES', auspiciadores_path

          %li.dropdown
            %a{:href => "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}} INSCRIPCIONES
            %ul.dropdown-menu
              %li
                %a.drop-content
                  COSTOS
              %li
                %a.drop-content
                  FORMULARIOS
          %li= link_to 'DELEGACIONES'
          %li.dropdown
            %a{:href => "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}} INFORMACIÓN
            %ul.dropdown-menu
              %li
                %a.drop-content
                  = link_to 'VISAS', visas_path
              %li
                %a.drop-content
                  = link_to 'REQUISITOS PARA CANES', requisitos_path
              %li
                %a.drop-content
                  = link_to 'HOTELES', hoteles_path
              %li
                %a.drop-content
                  = link_to 'TRANSPORTES', transportes_path


          %li= link_to 'NOTICIAS', noticias_path
          %li= link_to 'SEÑAL EN VIVO', streamings_path
          %li= link_to 'MENSAJES', mensajes_path
          %li= link_to 'CERRAR SESIÓN', destroy_admin_session_path, method: :delete
      - else
        %ul.nav.navbar-nav
          %li= link_to 'INICIO', root_path
          %li.dropdown
            %a{:href => "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}} COMPETENCIA
            %ul.dropdown-menu
              %li
                %a.drop-content
                  = link_to 'AUSPICIADORES', auspiciadores_path
          %li.dropdown
            %a{:href => "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}} INSCRIPCIONES
            %ul.dropdown-menu
              %li
                %a.drop-content
                  COSTOS
              %li
                %a.drop-content
                  FORMULARIOS
          %li= link_to 'DELEGACIONES'
          %li.dropdown
            %a{:href => "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}} INFORMACIÓN
            %ul.dropdown-menu
              %li
                %a.drop-content
                  = link_to 'VISAS', visas_path
              %li
                %a.drop-content
                  = link_to 'REQUISITOS PARA CANES', requisitos_path
              %li
                %a.drop-content
                  = link_to 'HOTELES', hoteles_path
              %li
                %a.drop-content
                  = link_to 'TRANSPORTES', transportes_path

          %li= link_to 'NOTICIAS', noticias_path
          %li= link_to 'SEÑAL EN VIVO', streamings_path
          %li= link_to 'CONTACTO', new_mensaje_path

