.navigation.navbar-navbar-default{role:'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-bar-1", "data-toggle" => "collapse", type:"button"}
        MENU
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse.navbar-bar-1
      - if current_admin
        %ul.nav.navbar-nav
          %li= link_to 'INICIO', root_path, class: 'active'
          %li= link_to 'SLIDES', slides_path
          %li.dropdown
            %a{:href => "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}} COMPETENCIA
            .dropdown-menu
              %p.arrow
                %ul.dropdown-list
                  %li
                    %a.drop-content
                      = link_to 'ORGANIZACIÓN', organizadores_path
                  %li
                    %a.drop-content
                      = link_to 'REGLAMENTO', reglamentos_path
                  %li
                    %a.drop-content
                      = link_to 'PROGRAMA', programas_path
                  %li
                    %a.drop-content
                      = link_to 'UBICACION', ubicacion_path
                  %li
                    %a.drop-content
                      = link_to 'AUSPICIADORES', auspiciadores_path

          %li.dropdown
            %a{:href => "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}} INSCRIPCIONES
            .dropdown-menu
              %p.arrow
                %ul.dropdown-list
                  %li
                    %a.drop-content
                      = link_to 'COSTOS', costos_path
          %li= link_to 'DELEGACIONES', duplas_path
          %li.dropdown
            %a{:href => "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}} INFORMACIÓN
            .dropdown-menu
              %p.arrow
                %ul.dropdown-list 
                  %li
                    %a.drop-content
                      = link_to 'VISAS', visas_path
                  %li
                    %a.drop-content
                      = link_to 'REQUISITOS PARA CANES', requisitos_path
                  %li
                    %a.drop-content
                      = link_to 'HOTELES', hoteles_path
                  %li
                    %a.drop-content
                      = link_to 'TRANSPORTES', transportes_path
  
          %li= link_to 'NOTICIAS', noticias_path
          %li= link_to 'SEÑAL EN VIVO', streamings_path
          %li= link_to 'MENSAJES', mensajes_path
      - else
        %ul.nav.navbar-nav
          %li= link_to 'INICIO', root_path
          %li.dropdown
            %a{:href => "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}} COMPETENCIA
            .dropdown-menu
              %p.arrow
                %ul.dropdown-list
                  %li
                    %a.drop-content
                      = link_to 'KCP', 'http://www.kcp.com.pe/'
                  %li
                    %a.drop-content
                      = link_to 'ORGANIZACIÓN', organizadores_path
                  %li
                    %a.drop-content
                      = link_to 'REGLAMENTO', reglamentos_path
                  %li
                    %a.drop-content
                      = link_to 'PROGRAMA', programas_path
                  %li
                    %a.drop-content
                      = link_to 'UBICACION', ubicacion_path
                  %li
                    %a.drop-content
                      = link_to 'AUSPICIADORES', auspiciadores_path
          %li.dropdown
            %a{:href => "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}} INSCRIPCIONES
            .dropdown-menu
              %p.arrow
                %ul.dropdown-list
                  %li
                    %a.drop-content
                      = link_to 'COSTOS', costos_path
                  %li
                    %a.drop-content
                      = link_to 'INSCRIBIRSE', new_dupla_path

          %li= link_to 'DELEGACIONES', duplas_path
          %li.dropdown
            %a{:href => "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}} INFORMACIÓN
            .dropdown-menu
              %p.arrow
                %ul.dropdown-list
                  %li
                    %a.drop-content
                      = link_to 'VISAS', visas_path
                  %li
                    %a.drop-content
                      = link_to 'REQUISITOS PARA CANES', requisitos_path
                  %li
                    %a.drop-content
                      = link_to 'HOTELES', hoteles_path
                  %li
                    %a.drop-content
                      = link_to 'TRANSPORTES', transportes_path
                  %li
                    %a.drop-content
                      = link_to 'TURISMO', 'http://www.peru.travel/es-pe/'

          %li= link_to 'NOTICIAS', noticias_path
          %li= link_to 'SEÑAL EN VIVO', streamings_path
          %li= link_to 'ESCRIBENOS', new_mensaje_path

